<link rel="stylesheet" href="static/css/buckutt.css">

<div ng-controller="Buckutt as buckutt">

    <div id="modalConfirm" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Confirmation de désactivation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Êtes-vous sûr de vouloir désactiver votre compte ?<br>
                        La désactivation entraîne la non-disponnibilité de votre carte étudiant <strong>pour le système BuckUTT uniquement</strong>.<br>
                        La réactivation ne se fait qu'uniquement au BDE.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                            ng-click="buckutt.desactivate($event)">Désactiver mon compte</button>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center">
        <a href="#/">BuckUTT</a>
    </h1>
    <h2 class="text-center">Gestion du compte BuckUTT</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <h1>
                    <a>Recharger mon compte BuckUTT</a>
                </h1>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <h1>Solde</h1>
                <h2>{{ sold }}</h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div ng-if="!isRemoved">
                    <p class="text-danger">
                        <br>
                        Si votre carte est perdue, bloquez toute dépense non désirée.
                    </p>
                    <h2>
                        <a class="text-danger" ng-click="buckutt.confirmBlock($event)">Bloquer ma carte étu</a>
                    </h2>
                </div>
                <div ng-if="isRemoved">
                    <h2 class="text-danger">Compte désactivé</h2>
                    <p>
                        Passez au BDE pour le faire désactiver
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="panelTable" class="panel panel-default">
                <div class="table-responsive">
                    <h2>Historique de votre compte BuckUTT</h2>
                    <table class="table table-stripped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Valeur</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(i, action) in visibleHistory" ng-click="buckutt.expand($event, i)">
                                <td>
                                    <div class="visible">
                                        {{ action.name }}
                                    </div>
                                    <div class="infos" style="display: none;">
                                        <p class="text-muted">
                                            <span ng-if="action.sold > 0">Rechargement</span>
                                            <span ng-if="action.sold < 0">Achat</span>
                                            effectué le
                                            {{ action.date | date: 'dd/MM/yyyy à HH:mm:ss' }}
                                            {{ action.details }}
                                        </p>
                                    </div>
                                </td>
                                <td ng-if="action.sold > 0">
                                    <span class="text-success">+{{ action.sold }}€</span>
                                </td>
                                <td ng-if="action.sold < 0">
                                    <span class="text-danger">{{ action.sold }}€</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!totalHistory">
        <div class="col-xs-12">
            <div id="panelMore" class="panel panel-default">
                <h4>
                    <a href="#" ng-click="buckutt.loadMore($event)">
                        Afficher plus d'entrées
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>