<link rel="stylesheet" href="static/css/buckutt.css">

<div ng-controller="Buckutt as buckutt">
    <h1 class="text-center">
        <a href="#/">BuckUTT</a>
    </h1>
    <h2 class="text-center">Gestion du compte BuckUTT</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <h1>
                    <a>Recharger mon compte BuckUTT</a>
                </h1>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <h1>Solde</h1>
                <h2>{{ sold | currency : '€' : 2}}</h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <p class="text-danger">
                    <br>
                    Si votre carte est perdue, bloquez toute dépense non désirée.
                </p>
                <h2>
                    <a class="text-danger">Bloquer ma carte étu</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="panelTable" class="panel">
                <div class="table-responsive">
                    <h2>Historique de votre compte BuckUTT</h2>
                    <table class="table table-stripped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Valeur</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(i, action) in history" ng-click="buckutt.expand($event, i)">
                                <td>
                                    <div class="visible">
                                        {{ action.name }}
                                    </div>
                                    <div class="infos" style="display: none;">
                                        <p>
                                            <span ng-if="action.sold > 0">Rechargement</span>
                                            <span ng-if="action.sold < 0">Achat</span>
                                            effectué le
                                            {{ action.date | date: 'dd/MM/yyyy à HH:mm:ss' }}
                                        </p>
                                    </div>
                                </td>
                                <td ng-if="action.sold > 0">+{{ action.sold }}€</td>
                                <td ng-if="action.sold < 0">{{ action.sold }}€</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>