<link rel="stylesheet" href="static/css/buckuttAdmin.css">

<div ng-controller="BuckuttAdmin as buckuttAdmin">
    <h1 class="text-center">
        <a href="#/">BuckUTT</a>
    </h1>
    <h2 class="text-center">Administration BuckUTT</h2>
    <div class="row">
        <div class="col-xs-12 panel panel-default">
            <h3>Prix Sherlock's LCL</h3>
            <form ng-submit="">
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Prix d'une transaction en centimes"
                           min="0" max="100" step="0.01"
                           ng-model="bankPrice"
                           ng-pattern="/^\d+(\.\d+)?$/"
                           ng-required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Modifier</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 panel panel-default">
            <h3>Domaines mails étudiants <small>(cliquez sur un domaine pour le supprimer de la liste)</small></h3>
            <form class="form-inline" ng-submit="buckuttAdmin.addDomain($event)">
                <div class="row">
                    <div class="col-xs-11">
                        <input type="text" id="newDomain" class="form-control" placeholder="Domaine mail (ex: utt.fr)"
                               ng-model="newMail"
                               ng-pattern="/^\b((?=[a-z0-9-]{1,63}\.)(xn--)?[a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,63}\b$/i"
                               ng-required>
                    </div>
                    <div class="col-xs-1">
                        <button type="submit" class="btn btn-success">Ajouter</button>
                    </div>
                </div>
                <br>
                <ul>
                    <li ng-repeat="domain in domains">
                        <a href="#" ng-click="buckuttAdmin.removeDomain($event, domain.id)">{{ domain.domain }}</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 panel panel-default">
            <h3>Configuration serveur</h3>
<pre>
{
    "debug": true,
    "port": 8080,
    "db": {
        "host": "localhost",
        "port": 3306,
        "name": "pay",
        "user": "root",
        "pwd": "toor"
    },
    "log": {
        "log": true,
        "out": "console",
        "level": "debug",
        "format": "%l %d : %s"
    },
    "app": {
        "link": "https://etu.utt.fr/api/",
        "clientId": "11196275875",
        "clientSecret": "9cafadffe59fe613771d9e9387c17d09"
    }
}
</pre>
        </div>
    </div>
</div>