<div class="view" ng-controller="TicketsList as ticket">
    <h1 class="text-center">BuckUTT</h1>

    <div class="row row-spaced">
        <div class="panel-col transition col-xs-12 col-sm-12 col-lg-12 loginPanel">
            <div id="loginControllerWrapper" class="transition panel panel-default"
                 ng-init="template = 'login/login.html'"
                 ng-include="template">
            </div>
        </div>
    </div>
    <div class="row row-spaced" ng-repeat="event in events">
        <div class="panel-col transition col-xs-12 col-sm-12 col-lg-12">
            <span class="closedPresale" ng-if="!event.opened">Fermé</span>
            <div class="transition panel panel-default">
                <div class="panel-body active">
                    <div class="icon">
                        <img height="128" width="128" alt="{{ event.name }}"
                             ng-src="static/img/upload/{{ event.picture }}">
                    </div>
                    <div class="title">
                        <h3>
                            {{ event.name }}
                            <small class="muted">{{ event.date | date:"dd/MM/yyyy 'à' HH:mm" }}</small>
                        </h3>
                        <p class="text-muted">{{ event.description }}</p>
                    </div>
                    <div class="text-center buy" ng-click="ticket.showBuyingCards($event)" ng-if="!event.isBought">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <a
                        class="text-center print"
                        ng-href="/api/generatePrintLink/{{ event.ticketBoughtId }}?auth={{ jwt }}"
                        ng-if="event.isBought">
                        <i class="fa fa-print"></i>
                    </a>
                </div>
                <div class="behind panel-body">
                    <div class="cross">
                        <i class="fa fa-times" ng-click="ticket.hideBuyingCards($event)"></i>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 meanOfPayment text-center">
                            <i class="fa fa-shopping-cart"
                               ng-click="ticket.expendBuy($event, 'buckutt')"></i>
                            <h4 class="description">BuckUTT</h4>
                        </div>
                        <div class="col-xs-6 meanOfPayment text-center">
                            <i class="fa fa-credit-card"
                               ng-click="ticket.expendBuy($event, 'card')"></i>
                            <h4 class="description">Carte</h4>
                        </div>
                    </div>
                    <div class="row paywith buckutt">
                        <h2>Paiement par BuckUTT</h2>
                        <div ng-if="isAuth">
                            <p>Prix du ticket : {{ prices[event.id] | euro }}</p>
                            <p>
                                <em>Les places sont nominatives, non échangeables, non remboursables.</em><br>
                                <em>Les organisateurs se réservent le droit de refuser l'entrée.</em><br>
                                <em>En achetant une place, vous acceptez les conditions générales.</em>
                            </p>
                            <h4>Spécifez votre date de naissance <kbd title="Permet de distinguer deux tickets en cas de deux noms identiques">?</kbd></h4>
                            <div class="input-group">
                                <input type="text" name="date" class="form-control birthdate" placeholder="Date de naissance (JJ/MM/AAAA)"
                                       ng-model="buyingTickets.birthdate"
                                       ng-pattern="datePattern"
                                       ng-required="true">
                            </div>
                            <h4>Solde actuel : {{ sold | euro }}</h4>
                            <h4 ng-init="ticket.getPrice(event.id)">
                                Solde après achat :
                                <span ng-if="sold - prices[event.id] < 0">
                                    <span class="soldAfter {{ event.id }} text-danger">
                                        {{ sold - prices[event.id] | euro }}
                                    </span>
                                </span>
                                <span ng-if="sold - prices[event.id] >= 0">
                                    <span class="soldAfter {{ event.id }} text-success">
                                        {{ sold - prices[event.id] | euro }}
                                    </span>
                                    <br>
                                    <br>
                                    <button class="btn btn-primary btn-lg"
                                            ng-click="ticket.buyOneWithBuckutt($event, event.id)">
                                        Prendre une place pour cet événement
                                    </button>
                                </span>
                            </h4>
                        </div>
                        <div ng-if="!isAuth">
                            <p>Vous devez être connecté pour payer avec BuckUTT.</p>
                        </div>
                    </div>
                    <div class="row paywith card">
                        <h2>Paiement par carte bleue</h2>
                        <div ng-init="ticket.getPrice(event.id)">
                            <div ng-if="prices[event.id]">
                                <p>Prix du ticket : {{ prices[event.id] | euro }}</p>

                                <p>
                                    <em>Les places sont nominatives, non échangeables, non remboursables.</em><br>
                                    <em>Les organisateurs se réservent le droit de refuser l'entrée.</em><br>
                                    <em>En achetant une place, vous acceptez les conditions générales.</em>
                                </p>

                                <form class="cardForm">
                                    <h4>Spécifez votre e-mail : <kbd title="Permet de retrouver une place perdue ainsi qu'avoir des prix d'écoles partnaires. E-Mail vérifié.">?</kbd></h4>
                                    <div class="input-group" ng-show="!isAuth">
                                        <input type="email" name="mail" class="form-control mail" value="{{ defaultMail }}" placeholder="john.doe@mail.fr"
                                               ng-model="buyingTickets.mail"
                                               ng-blur="ticket.getPrice(event.id, $event)"
                                               ng-required="true">
                                    </div>
                                    <span class="autocard" ng-show="isAuth">{{ defaultMail }}</span>

                                    <h4 ng-if="!isAuth">Nom inscrit sur le billet : <kbd title="Vérifié par carte d'identité">?</kbd></h4>
                                    <div class="input-group" ng-if="!isAuth">
                                        <input type="text" name="displayName" class="form-control displayName" placeholder="John Doe"
                                               ng-model="buyingTickets.displayName"
                                               ng-required="true">
                                    </div>

                                    <h4>Spécifez votre date de naissance : <kbd title="Permet de distinguer deux tickets en cas de deux noms identiques">?</kbd></h4>
                                    <div class="input-group">
                                        <input type="text" name="date" class="form-control birthdate" placeholder="Date de naissance (JJ/MM/AAAA)"
                                               ng-model="buyingTickets.birthdate"
                                               ng-pattern="datePattern"
                                               ng-required="true">
                                    </div>

                                    <div ng-if="isAuth">
                                        <span ng-repeat="additionalExtTicket in additionalExtTickets">
                                            <div class="form-inline additionalTicket">
                                                <input type="text" class="form-control" placeholder="Prénom Nom"
                                                       ng-model="additionalExtTickets[$index].displayName"
                                                       ng-required>
                                                <input type="text" class="form-control" placeholder="JJ/MM/YYYY"
                                                       ng-model="additionalExtTickets[$index].birthdate"
                                                       ng-required>
                                                <a href="#" ng-click="ticket.removeExtTicket($event, $index)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </span>
                                        <a href="#" ng-click="ticket.addExtTicket($event)">Ajouter une place pour un externe</a>
                                    </div>

                                    <div ng-if="!isAuth">
                                        <button class="btn btn-primary btn-lg"
                                                ng-disabled="disableTakeTicket"
                                                ng-click="ticket.sendCheckMail($event, event.id)">
                                            Envoyer un mail (vérifier l'adresse)
                                        </button>
                                    </div>

                                    <h4 ng-if="!isAuth">Code reçu par mail :</h4>
                                    <div class="input-group" ng-if="!isAuth">
                                        <input type="text" name="code" class="form-control code" maxlength="5" placeholder="XCNB5"
                                               ng-keyup="ticket.checkCode($event)"
                                               ng-pattern="codePattern"
                                               ng-model="buyingTickets.code">
                                    </div>

                                    <div ng-if="isAuth">
                                        <button class="btn btn-primary btn-lg"
                                                ng-click="ticket.buyOneWithCard($event, event.id)">
                                            Prendre une place pour cet événement
                                        </button>
                                    </div>
                                    <div ng-if="!isAuth">
                                            <button class="btn btn-primary btn-lg"
                                                    ng-disabled="!disableTakeTicket"
                                                    ng-click="ticket.buyOneWithCardExt($event, event.id)">
                                            Prendre une place pour cet événement
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div ng-if="!prices[event.id]">
                                <p>
                                    Cet événement ne vous est pas disponible.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
