<div class="view" ng-controller="TicketsList as ticket">
    <h1 class="text-center">BuckUTT</h1>

    <div id="modalLost" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 id="lostTicketsModal" class="modal-title">Perte de billet</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Si vous avez oublié l'un de vos tickets, veuillez entrez votre e-mail.<br>
                        Un mail sera envoyé avec des liens pour chaque place encore valide.
                    </p>
                    <input type="email" id="lostTicketsEmail" class="form-control" name="lostTicketsEmail">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary">Envoyer les places</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row pull-right">
        <a href="#" ng-click="ticket.showModal($event, 'modalLost')">J'ai perdu mon billet&nbsp;&nbsp;</a>
        <div ng-init="template = 'login/login.html'" ng-include="template">
        </div>
    </div>
    <div class="row row-spaced" pay-onresize ng-repeat="event in events">
        <div class="panel-col transition col-xs-12 col-sm-10 col-sm-offset-1 col-lg-12 col-lg-offset-0">
            <div class="transition panel panel-default">
                <div class="panel-body active">
                    <div class="icon">
                        <img height="128" width="128" alt="{{ event.name }}"
                             ng-src="static/img/upload/{{ event.picture }}">
                    </div>
                    <div class="title">
                        <h3>
                            {{ event.name }}
                            <small class="muted">{{ event.date | date:"dd/MM/yyyy 'à' HH:mm" }}</small>
                        </h3>
                        <div class="ellipsis">
                            <div>
                                <p class="text-muted">{{ event.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center buy" ng-click="ticket.showBuyingCards($event)">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="behind panel-body">
                    <div class="cross">
                        <i class="fa fa-times" ng-click="ticket.hideBuyingCards($event)"></i>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 meanOfPayment text-center"
                             pay-onresize-notifier="ticket.checkExpended('buckutt')">
                            <i class="fa fa-shopping-cart"
                               ng-click="ticket.expendBuy($event, 'buckutt')"
                               ng-mouseover="ticket.showTooltip($event)"
                               ng-mouseout="ticket.hideTooltip($event)"></i>
                            <h4 class="description transition">BuckUTT</h4>
                        </div>
                        <div class="col-xs-4 meanOfPayment text-center"
                             pay-onresize-notifier="ticket.checkExpended('card')">
                            <i class="fa fa-credit-card"
                               ng-click="ticket.expendBuy($event, 'card')"
                               ng-mouseover="ticket.showTooltip($event)"
                               ng-mouseout="ticket.hideTooltip($event)"></i>
                            <h4 class="description transition">Carte</h4>
                        </div>
                        <div class="col-xs-4 meanOfPayment text-center"
                             pay-onresize-notifier="ticket.checkExpended('cash')">
                            <i class="fa fa-money"
                               ng-click="ticket.expendBuy($event, 'cash')"
                               ng-mouseover="ticket.showTooltip($event)"
                               ng-mouseout="ticket.hideTooltip($event)"></i>
                            <h4 class="description transition">Liquide/chèque</h4>
                        </div>
                    </div>
                    <div class="row paywith buckutt">
                        BuckUTT
                    </div>
                    <div class="row paywith card">
                        Card
                    </div>
                    <div class="row paywith cash">
                        Cash
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>