{
    "debug": true,
    "port": 8080,
    "bcryptCost": 10,
    "bankPrice": 0.4,
    "secret": "[randomstring]",
    "tokenAlgorithm": "HS512",
    "db": {
        "host": "localhost",
        "port": 3306,
        "name": "pay",
        "user": "root",
        "pwd": ""
    },
    "log": {
        "log": true,
        "out": "console",
        "level": "debug",
        "format": "%l %d : %s"
    },
    "backend": {
        "host": "http://127.0.0.1/",
        "path": "api/"
    },
    "sherlocks": {
        "host": "http://127.0.0.1/pay/",
        "path": "/",
        "paymentId": "pay-ticket",
        "reloadId": "pay-reload"
    },
    "mail": {
        "config": {
            "host": "localhost",
            "port": 2525,
            "auth": {
                "user": "",
                "pass": ""
            }
        },
        "sender": "Buckutt <donotreply@buck.utt.fr>"
    }
}
