{
    "debug": true,
    "port": 8080,
    "bcryptCost": 10,
    "db": {
        "host": "localhost",
        "port": 3306,
        "name": "pay",
        "user": "root",
        "pwd": ""
    },
    "log": {
        "log": true,
        "out": "console",
        "level": "debug",
        "format": "%l %d : %s"
    },
    "app": {
        "link": "https://etu.utt.fr/api/",
        "clientId": "",
        "clientSecret": ""
    }
}