/* Reset from admin styles */
.main-row > .col-sm-5:first-of-type {
    padding: 0;
}

.panel > h3 {
    cursor: default;
}

.panel > h2 {
    min-height: 100px;
}

/* Vendor */
.panelSearchUser {
    min-height: 400px;
}

.panelSearchUser .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #fff;
}

.vendor span {
    cursor: pointer;
}

.parameters, .delete {
    margin-bottom: 20px;
}

/* Prices */
.prices label {
    display: block;
    font-weight: normal;
}

.prices .form-control {
    display: none;
}

.prices .hideNextInput:checked + .form-control, .prices .form-control.forceShow {
    display: block;
}
