/* Panels */
.panel {
    padding: 0 15px;
}

.panel > h3 {
    cursor: pointer;
    margin: 26px 0;
}

.subPanel {
    margin-bottom: 10px;
}

.subPanel > div {
    margin-bottom: 10px;
}

.loading, .connected, .admin {
    display: none;
}

/* Panels content */
textarea {
    resize: vertical;
}

.ng-invalid:not(.ng-pristine) {
    border-color: #e74c3c;
}

.ng-valid:not(.ng-pristine) {
    border-color: #2ecc71;
}

h4 {
    margin: 0;
}

h4:not(:last-child) {
    margin-bottom: 10px;
}