/* Reset from admin styles */
.main-row > .col-sm-5:first-of-type {
    padding: 0;
}

.panel > h3 {
    cursor: default;
}

.panel > h2 {
    line-height: 100px;
}

/* Vendor */
.vendor span {
    cursor: pointer;
}

.parameters, .delete {
    margin-bottom: 20px;
}