/* Panels */
.panel {
    padding: 0 15px;
}

/* History table */
#panelTable {
  padding-bottom: 10px;
}

table th:last-child {
    width: 10%;
}

table tbody tr {
    cursor: pointer;
}

.infos p {
    margin-top: 10px;
}