/* Reload validation */
.ng-valid {
  border-color: #3c763d;
}

.ng-invalid {
  border-color: #a94442;
}

/* Panels */
.panel {
    padding: 0 15px;
}

h1 a, h2 a {
    cursor: pointer;
}

/* History table */
#panelTable {
  padding-bottom: 10px;
}

.table-responsive {
  overflow-y: hidden;
}

table th:last-child {
    width: 10%;
}

table tbody tr {
    cursor: pointer;
}

.infos p {
    margin-top: 10px;
}

/* More panel */
#panelMore {
  min-height: 0;
}

#panelMore h4 {
  text-align: center;
  margin: 20px 0;
}