/* Main login panel */
.loginPanel.loginPanel, #loginControllerWrapper {
    height: 75px;
    min-height: 75px;
}

/* Login form */
.loginForm {
    float: left;
    height: 100%;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 2;
}

.loginForm > .row {
    margin-bottom: 10px;
}

#buttonLost {
    position: absolute;
    right: 30px;
}

/* Loading panel */
.logging {
    background-color: #2ecc71;
    display: none;
    height: 100%;
    width: 100%;
}

#loginLoader {
    background-color: #27ae60;
    border-radius: 50px;
    float: left;
    margin: 36.5px 0 0 50%;
    opacity: 0.6;
    position: relative;
    top: 0;
    width: 0;
}

#okayIcon {
    font-size: 0;
    height: 74px;
    line-height: 74px;
    position: relative;
    text-align: center;
    top: -37.5px;
    width: 100%;
}

/* Logged panel */
#logged {
    display: none;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);

    -webkit-transition: height .3s;
            transition: height .3s;
}

#logged .col-xs-3 {
    height: 100%;
    font-size: 140%;
    text-align: center;
    padding-top: 22.5px;
}