/* Main panel */
.loginPanel.loginPanel {
    height: 145px;
}

#loginController {
    height: 100%;
}

/* Login form */
.loginForm {
    float: left;
    height: 100%;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 2;
}

.loginForm > .row {
    margin-bottom: 10px;
}

.form-inline input {
    margin-bottom: 5px;
}

/* Loading panel */
.logging {
    background-color: #2ecc71;
    display: none;
    height: 100%;
    width: 100%;
}

#loginLoader {
    background-color: #27ae60;
    border-radius: 50px;
    float: left;
    margin: 36.5px 0 0 50%;
    opacity: 0.6;
    position: relative;
    top: 0;
    width: 0;
}

#okayIcon {
    font-size: 0;
    height: 74px;
    line-height: 74px;
    position: relative;
    text-align: center;
    top: -37.5px;
    width: 100%;
}

/* Logged panel */
#logged {
    display: none;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);

    -webkit-transition: height .3s;
            transition: height .3s;
}

#logged .col-xs-4 {
    font-family: 'Lato';
    font-size: 170%;
    font-weight: 300;
    height: 100%;
    padding-top: 22.5px;
    text-align: center;
}

@media (min-width: 768px) {
    .loginPanel.loginPanel, #loginControllerWrapper {
        height: 75px;
        min-height: 75px;
    }

    .form-inline input {
        margin-bottom: 0;
    }
}

@media (max-width: 500px) {
    #logged .col-xs-4 span {
        display: none;
    }
}

@media (max-width: 610px) {
    #logged .col-xs-4 {
        font-size: 110%;
}
