html, body {
    background-color: #ededed;
    font-family: 'RobotoSlab', sans-serif;
    font-size: 15px;
    min-width: 360px;
}

body {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
    font-weight: 300;
}

/* Cross */
.cross {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

/* Label */
label {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

/* Autocomplete */
.autocomplete-suggestions {
    background: #FFF;
    border: 1px solid #CBD3DD;
    overflow: auto;
}

.autocomplete-suggestion {
    overflow: hidden;
    padding: 5px 15px;
    white-space: nowrap;
}

.autocomplete-suggestions strong {
    color: #029cca;
    font-weight: normal;
}

.autocomplete-selected {
    background: #F0F0F0;
    cursor: pointer;
}

/* Flat */
button:focus, a:focus, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline-width: 0;
}

input.form-control, textarea.form-control, input.form-control:focus, textarea.form-control:focus {
    border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

#modalError {
    z-index: 1051;
}

.modal-content {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

#forgotOk, #forgotFail, #resetOk, #resetFail {
    display: none;
}

.btn {
    border-radius: 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-radius: 0;
}

select.form-control {
    border-radius: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Input file */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Transition helper class */
.transition {
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;
}

/* Fonts */
@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/robotoSlab/robotoslab-light-webfont.eot');
    src: url('../fonts/robotoSlab/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoSlab/robotoslab-light-webfont.woff') format('woff'),
         url('../fonts/robotoSlab/robotoslab-light-webfont.ttf') format('truetype'),
         url('../fonts/robotoSlab/robotoslab-light-webfont.svg#RobotoSlab') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;

    src: url('../fonts/lato/lato-black.eot');
    src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype'), url('../fonts/lato/lato-black.svg#latoblack') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;

    src: url('../fonts/lato/lato-bold.eot');
    src: url('../fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold.woff') format('woff'), url('../fonts/lato/lato-bold.ttf') format('truetype'), url('../fonts/lato/lato-bold.svg#latobold') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: bold;

    src: url('../fonts/lato/lato-bolditalic.eot');
    src: url('../fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic.woff') format('woff'), url('../fonts/lato/lato-bolditalic.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: normal;

    src: url('../fonts/lato/lato-italic.eot');
    src: url('../fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic.woff') format('woff'), url('../fonts/lato/lato-italic.ttf') format('truetype'), url('../fonts/lato/lato-italic.svg#latoitalic') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;

    src: url('../fonts/lato/lato-light.eot');
    src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light.woff') format('woff'), url('../fonts/lato/lato-light.ttf') format('truetype'), url('../fonts/lato/lato-light.svg#latolight') format('svg');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;

    src: url('../fonts/lato/lato-regular.eot');
    src: url('../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular.woff') format('woff'), url('../fonts/lato/lato-regular.ttf') format('truetype'), url('../fonts/lato/lato-regular.svg#latoregular') format('svg');
}
