/* All lists */
.row-spaced {
    margin-top: 20px;
}

.row-spaced > div {
    height: 130px;
    margin-bottom: 20px;
    overflow: hidden;
}

.panel {
    border-radius: 0;
    box-shadow: none;
    min-height: 130px;
    -webkit-box-shadow: none;
}

.panel-body {
    height: 130px;
    overflow: hidden;
    padding: 0;
}

.panel-col .panel {
    height: 100%;
}

.expended .behind {
    height: 100%;
}

.expended .behind .cardForm {
    line-height: 40px;
}

.expended .behind .cardForm button {
    margin: 10px 0;
}

/* Tiles */
.icon {
    display: none;
    float: left;
}

.title {
    float: left;
    padding-left: 15px;
    width: calc(100% - 128px);
}

.title p {
    max-height: 40px;
    overflow: hidden;
}

.title small {
    display: block;
}

.buy, .print {
    background-color: #444;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 75px;
    line-height: 128px;
    width: 128px;
}

.print {
    z-index: 10;
    position: relative;
}

.print:hover {
    color: #fff;
}

/* Behind tiles */
.behind {
    float: left;
    font-size: 60px;
    line-height: 66px;
    position: relative;
    top: -133px;
    width: 100%;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
}

.behind p {
    line-height: 1.3em;
}

.behind .cross {
    float: right;
    height: 24px;
    position: relative;
    right: 5px;
    top: 5px;
    width: 24px;
    z-index: 2;
}

.behind .cross i {
    cursor: pointer;
    font-size: 24px;
}

.behind i {
    cursor: pointer;
    vertical-align: top;
}

.behind .description, .behind .description.active {
    opacity: 1;
    position: relative;
    font-size: 18px;
    top: -20px;
}

.meanOfPayment {
    height: 130px;
    overflow: hidden;
}

.meanOfPayment  i {
    font-size: 90px;
    line-height: 115px;
}

.meanOfPayment:last-child {
    top: -24px;
}

/* Payments */
.buckutt div.input-group, .card div.input-group {
    margin: 0 auto;
    width: 250px;
}

.buckutt div.input-group .form-control, .card div.input-group .form-control {
    text-align: center;
}

.buckutt div.input-group.has-error .form-control:focus, .card div.input-group.has-error .form-control:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.buckutt .additionalTicket * {
    margin-top: -25px;
}

/* Closed presales */
span.closedPresale {
    background: rgba(40, 40, 40, 0.6);
    color: white;
    float: left;
    font-size: 36px;
    height: 100%;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    width: calc(100% - 31px);
    z-index: 2;
}

/* Additionnal ticket */
.additionalTicket {
    height: 0;
    overflow: hidden;

    transition: height .2s ease;
}

.totalPrice {
    font-size: 20px;
}

/* Sherlocks panel */
#sherlocksPanel .sherlocksModal {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    position: fixed;
    top: -100%;
    width: 100%;
    z-index: 20;

    transition: background-color .4s ease;
}

#sherlocksPanel.active .sherlocksModal {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
}


#sherlocksPanel > .panel {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    left: 0;
    margin: 0;
    min-height: 0;
    position: fixed;
    top: -100%;
    width: 100%;
    z-index: 90;

    transition: left        .2s ease,
                margin-left .2s ease,
                top         .2s ease,
                width       .2s ease;
}

#sherlocksPanel.active > .panel {
    top: 100px;
}

#sherlocksPanel .panel-body {
    height: auto;
    padding: 20px;
}

@media (min-width: 768px) and (max-width: 992px) {
    .icon {
        display: block;
    }

    .title {
        width: calc(100% - 256px);
    }

    #sherlocksPanel > .panel {
        left: 50%;
        margin-left: -300px;
        width: 600px;
    }
}

@media (min-width: 992px) {
    .icon {
        display: block;
    }

    .title {
        width: calc(100% - 256px);
    }

    .title small {
        display: inline;
    }

    .behind .cross {
        top: -20px;
    }

    .icon img {
        height: 128px;
        width: 128px;
    }

    .title {
        max-width: calc(100% - 256px);
    }

    .title p {
        max-height: 60px;
    }

    .behind i {
        vertical-align: middle;
    }

    #sherlocksPanel > .panel {
        left: 50%;
        margin-left: -300px;
        width: 600px;
    }
}
