<link rel="stylesheet" href="static/css/admin.css">

<div ng-controller="Admin as admin">
    <h1 class="text-center">
        <a href="#/">BuckUTT</a>
    </h1>
    <h2 class="text-center">Administration</h2>

    <div class="row">
        <div class="panel panel-default col-sm-5">
            <h3>Gérer les événements</h3>
            <div class="subPanel">
                <h4 ng-repeat="event in events">
                    <a href="#/admin/event/{{ event.id }}">{{ event.name }}</a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default col-sm-5 col-sm-offset-2">
            <h3 ng-click="admin.expendPanel($event)">Créer un événement</h3>
            <form name="newEventForm" class="subPanel">
                <div>
                    <input type="text" name="name" class="form-control" placeholder="Nom de l'event (taille minimum : 5 caractères)"
                           ng-maxlength="255"
                           ng-minlength="5"
                           ng-model="newEvent.name"
                           ng-required="true">
                </div>
                <div>
                    <div class="input-group date">
                        <input type="text" name="date" class="form-control" placeholder="Date de l'événement"
                               ng-model="newEvent.date"
                               ng-pattern="datePattern"
                               ng-required="true">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div>
                    <textarea name="description" name="description" class="form-control" placeholder="Description"
                              ng-model="newEvent.description"
                              ng-required="true"></textarea>
                </div>
                <div>
                    <input type="number" name="maximumTickets" class="form-control" placeholder="Nombre maximum de places"
                           min="0" max="10000"
                           ng-model="newEvent.maximumTickets"
                           ng-required="true">
                </div>
                <div class="prices">
                    <label>
                        Prix étudiant cottisant en prévente :
                        <input type="number" name="priceEtuCottPresale" class="form-control input-sm forceShow" placeholder="00.00"
                               min="0" max="100" step="0.01"
                               ng-model="newEvent.priceEtuCottPresale">
                    </label>
                    <label>
                        Prix étudiant cottisant hors prévente :
                        <input type="number" name="priceEtuCott" class="form-control input-sm forceShow" placeholder="00.00"
                               min="0" max="100" step="0.01"
                               ng-model="newEvent.priceEtuCott">
                    </label>
                    <label>
                        <input type="checkbox" name="priceEtuPresaleActive" class="hideNextInput"
                               ng-model="newEvent.priceEtuPresaleActive">
                        Prix étudiant non-cottisant en prévente :
                        <input type="number" name="priceEtuPresale" class="form-control input-sm" placeholder="00.00"
                               min="0" max="100" step="0.01"
                               ng-model="newEvent.priceEtuPresale">
                    </label>
                    <label>
                        <input type="checkbox" name="priceEtuActive" class="hideNextInput"
                               ng-model="newEvent.priceEtuActive">
                        Prix étudiant non-cottisant hors prévente :
                        <input type="number" name="priceEtu" class="form-control input-sm" placeholder="00.00"
                               min="0" max="100" step="0.01"
                               ng-model="newEvent.priceEtu">
                    </label>
                    <label>
                        <input type="checkbox" name="priceExtPresaleActive" class="hideNextInput"
                               ng-model="newEvent.priceExtPresaleActive">
                        Prix extérieur en prévente :
                        <input type="number" name="priceExtPresale" class="form-control input-sm" placeholder="00.00"
                               min="0" max="100" step="0.01"
                               ng-model="newEvent.priceExtPresale">
                    </label>
                    <label>
                        <input type="checkbox" name="priceExtActive" class="hideNextInput"
                               ng-model="newEvent.priceExtActive">
                        Prix extérieur hors prévente :
                        <input type="number" name="priceExt" class="form-control input-sm" placeholder="00.00"
                               min="0" max="100" step="0.01"
                               ng-model="newEvent.priceExt">
                    </label>
                </div>
                <div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Parcourir <input type="file" name="file">
                            </span>
                        </span>
                        <input type="text" class="form-control" placeholder="Image de l'événement (taille : 128x128)"
                               readonly
                               ng-model="fileInfo">
                    </div>
                </div>
                <div>
                    <button class="btn btn-block btn-primary" ng-click="admin.createEvent()">Créer l'événement</button>
                </div>
            </form>
        </div>
    </div>

    <div id="buckuttAdmin" class="row">
        <div class="col-xs-12 panel panel-default" style="min-height: 0;">
            <h3 class="text-center">
                <a href="#/buckuttAdmin/">Administration buckutt</a>
            </h3>
        </div>
    </div>
</div>
