<div id="loginController" ng-controller="Login as login">
    <div id="modalLost" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Perte de billet</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Si vous avez oublié l'un de vos tickets, veuillez entrez votre e-mail.<br>
                        Un mail sera envoyé avec des liens pour chaque place encore valide.
                    </p>
                    <input type="email" id="lostTicketsEmail" class="form-control" name="lostTicketsEmail">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary">Envoyer les places</button>
                </div>
            </div>
        </div>
    </div>

    <button id="buttonLost" class="guest btn btn-default" ng-click="login.showModal($event, 'modalLost')">J'ai perdu mon billet</button>
    <i id="loginIcon" class="fa fa-lock" ng-click="login.authUser($event)"></i>
    <div id="loginLoader"></div>
    <i id="okayIcon" class="fa fa-check"></i>
    <div id="logged" class="loggedHide raw">
        <div class="col-xs-3">Gérer Buckutt</div>
        <div class="col-xs-3">Gérer mes tickets</div>
        <div class="col-xs-3">Administration</div>
        <div class="col-xs-3">Déconnexion</div>
    </div>
    <!--<a href="#" id="connectLink" class="guest" ng-click="login.authUser($event);">Se connecter</a>
    <span class="text-muted welcoming connected admin"></span>
    <span id="refreshLoader" class="loading" style="display: none;">
        <i class="fa fa-spin fa-refresh"></i>
        &nbsp;&nbsp;Connexion
    </span>
    <div class="admin" style="display: none;">
        <a href="#/admin/">Administration</a>
    </div>-->
</div>