<div id="loginController" ng-controller="Login as login">
    <div id="modalLost" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Perte de billet</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Si vous avez oublié l'un de vos tickets, veuillez entrez votre e-mail.<br>
                        Un mail sera envoyé avec des liens pour chaque place encore valide.
                    </p>
                    <input type="email" id="lostTicketsEmail" class="form-control" name="lostTicketsEmail">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary">Envoyer les places</button>
                </div>
            </div>
        </div>
    </div>

    <div class="loginForm">
            <form class="form-inline" ng-submit="login.authUser($event)">
                <input type="text" id="username" class="form-control" placeholder="Nom d'utilisateur">
                <input type="password" id="password" class="form-control" placeholder="Mot de passe">
                <input type="submit" class="btn btn-success" ng-click="login.authUser($event)">
                <button id="buttonLost" class="btn btn-default pull-right"
                        ng-click="login.showModal($event, 'modalLost')">J'ai perdu mon billet</button>
            </form>
    </div>
    <div class="logging">
        <div id="loginLoader"></div>
        <i id="okayIcon" class="fa fa-check"></i>
    </div>
    <div id="logged" class="raw">
        <div class="col-xs-3">
            <a href="#/buckutt/">Mon Buckutt</a>
        </div>
        <div class="col-xs-3">
            <a href="#/list/">Mes tickets</a>
        </div>
        <div class="col-xs-3">
            <a href="#/admin/">Admin<span>istration</span></a>
        </div>
        <div class="col-xs-3">
            <a href="#" ng-click="login.logout($event)">Déco<span>nnexion</span></a>
        </div>
    </div>
</div>
