<div id="loginController" ng-controller="Login as login">
    <div class="loginForm">
            <form class="form-inline" ng-submit="login.authUser($event)" autocomplete="off">
                <input type="text" id="username" class="form-control" placeholder="Nom d'utilisateur">
                <input type="password" id="password" class="form-control" placeholder="Mot de passe">
                <input type="submit" class="btn btn-success" ng-click="login.authUser($event)">
                <div class="btn-group pull-right">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Oubli <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ng-click="login.showModalLost($event)">Ticket</a></li>
                        <li><a href="#" ng-click="login.showModalReset($event)">Mot de passe</a></li>
                    </ul>
                </div>
            </form>
    </div>
    <div class="logging">
        <div id="loginLoader"></div>
        <i id="okayIcon" class="fa fa-check"></i>
    </div>
    <div id="logged" class="raw">
        <div ng-class="canAdmin ? 'col-xs-4' : 'col-xs-6'">
            <a href="#/buckutt/"><span>Mon </span>Buckutt</a>
        </div>
        <div class="col-xs-4" ng-if="canAdmin">
            <a href="#/admin/">Administration</a>
        </div>
        <div ng-class="canAdmin ? 'col-xs-4' : 'col-xs-6'">
            <a href="#" ng-click="login.logout($event)">Déconnexion</a>
        </div>
    </div>
</div>
