<link rel="stylesheet" href="static/css/sell.css">

<div ng-controller="Sell as sell">
    <h1 class="text-center">
        <a href="#/">BuckUTT</a>
    </h1>
    <h2 class="text-center">
        <a href="#/admin">Administration</a> - Vente de tickets
    </h2>

    <div id="success">Ok !</div>
    <div id="error">Erreur !</div>

    <div id="switcher">
        <button class="active btn btn-primary"
            ng-click="sell.switchPage()">
                Vente
        </button>
        <button class="btn btn-primary"
            ng-click="sell.switchPage()">
                Validation
        </button>
    </div>

    <div class="row meanOfPaymentRow">
        <div class="col-xs-6">
            <div class="panel panel-default" ng-click="sell.setPaidWith('liquid')">
                <h1>
                    <a class="active"
                       ng-if="ticket.paid_with == 'liquid'">Liquide</a>
                    <a ng-if="ticket.paid_with != 'liquid'">Liquide</a>
                </h1>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel panel-default" ng-click="sell.setPaidWith('card')">
                <h1>
                    <a class="active"
                       ng-if="ticket.paid_with == 'card'">Carte bancaire</a>
                    <a ng-if="ticket.paid_with != 'card'">Carte bancaire</a>
                </h1>
            </div>
        </div>
    </div>

    <p class="text-muted">
        <em>La vente par BuckUTT se fait via les eee-tops.</em>
    </p>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <h2>Informations sur le ticket</h2>
                <form>
                    <div class="form-group">
                        <label for="displayName">Nom de la personne :</label>
                        <input type="text" id="displayName" class="form-control" placeholder="John Doe"
                               ng-required
                               ng-model="ticket.displayName">
                    </div>

                    <div class="form-group">
                        <label for="mail">E-Mail :</label>
                        <input type="mail" id="mail" class="form-control" placeholder="john.doe@utt.fr"
                               ng-required
                               ng-model="ticket.mail">
                    </div>

                    <div class="form-group">
                        <label for="birthdate">Date de naissance :</label>
                        <input type="text" id="birthdate" class="form-control" placeholder="DD/MM/YYYY"
                               ng-required
                               ng-model="ticket.birthdate">
                    </div>

                    <div class="form-group">
                        <label for="price">Prix :</label>
                        <select id="price" class="form-control"
                                ng-model="price"
                                ng-options="price.name for price in eventPrices track by price.id">
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default submitTicket">
                <h2>
                    <a ng-click="sell.submitTicket()">Créer le ticket</a>
                </h2>
            </div>
        </div>
    </div>
</div>