<link rel="stylesheet" href="static/css/admin.css">
<link rel="stylesheet" href="static/css/adminEvent.css">

<div ng-controller="AdminEvent as adminEvent">

    <div id="modalEdit" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Édition de l'événement</h4>
                </div>
                <div class="modal-body">
                    <form name="eventForm" class="subPanel">
                        <div>
                            <input type="text" name="name" class="form-control" placeholder="Nom de l'event (taille minimum : 5 caractères)"
                                   ng-maxlength="255"
                                   ng-minlength="5"
                                   ng-model="currentEvent.name"
                                   ng-required="true">
                        </div>
                        <div>
                            <div class="input-group date">
                                <input type="text" name="date" class="form-control" placeholder="Date de l'événement"
                                       ng-model="currentEvent.date"
                                       ng-pattern="datePattern"
                                       ng-required="true">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <textarea name="description" name="description" class="form-control" placeholder="Description"
                                      ng-model="currentEvent.description"
                                      ng-required="true"></textarea>
                        </div>
                        <div>
                            <input type="number" name="maximumTickets" class="form-control" placeholder="Nombre maximum de places"
                                   min="0" max="10000"
                                   ng-model="currentEvent.maximumTickets"
                                   ng-required="true">
                        </div>
                        <div>
                            <input type="checkbox" name="bdeCard" id="bdeCard" class="customCheckbox"
                                   ng-model="currentEvent.bdeCard"
                                   ng-require="true">
                            <label for="bdeCard">
                                Cartes BDE
                            </label>
                        </div>
                        <div>
                            <input type="checkbox" name="opened" id="opened" class="customCheckbox"
                                   ng-model="currentEvent.opened"
                                   ng-require="true">
                            <label for="opened">
                                Préventes ouvertes
                            </label>
                        </div>
                        <div>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        Parcourir <input type="file" name="file">
                                    </span>
                                </span>
                                <input type="text" class="form-control" placeholder="Image de l'événement (taille : 128x128)" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" ng-click="adminEvent.editEvent($event)">Éditer l'événement</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalConfirm" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Confirmation de suppression</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Vous êtes sur le point de supprimer un événement. Ceci entraînera l'invalidité de tous les tickets achetés.<br>
                        Les places ne seront pas remboursées.<br>
                        <br>
                        <strong class="text-danger">Si l'événement est terminé, l'opération est inutile</strong>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" ng-click="adminEvent.deleteEvent($event)">Supprimer l'événement</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalPrices" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Édition des prix</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">
                        Vous êtes sur le point de modifier les prix de l'événement.
                        <br>
                        Les personnes ayant déjà acheté des tickets pourront constater une différence de prix.
                    </p>
                    <div class="prices">
                        <label>
                            Prix étudiant cottisant en prévente :
                            <input type="number" name="priceEtuCottPresale" class="form-control input-sm forceShow" placeholder="00.00"
                                   min="0" max="100" step="0.01"
                                   ng-model="newPrices.priceEtuCottPresale">
                        </label>
                        <label>
                            Prix étudiant cottisant hors prévente :
                            <input type="number" name="priceEtuCott" class="form-control input-sm forceShow" placeholder="00.00"
                                   min="0" max="100" step="0.01"
                                   ng-model="newPrices.priceEtuCott">
                        </label>
                        <label>
                            <input type="checkbox" name="priceEtuPresaleActive" class="hideNextInput"
                                   ng-model="newPrices.priceEtuPresaleActive">
                            Prix étudiant non-cottisant en prévente :
                            <input type="number" name="priceEtuPresale" class="form-control input-sm" placeholder="00.00"
                                   min="0" max="100" step="0.01"
                                   ng-model="newPrices.priceEtuPresale">
                        </label>
                        <label>
                            <input type="checkbox" name="priceEtuActive" class="hideNextInput"
                                   ng-model="newPrices.priceEtuActive">
                            Prix étudiant non-cottisant hors prévente :
                            <input type="number" name="priceEtu" class="form-control input-sm" placeholder="00.00"
                                   min="0" max="100" step="0.01"
                                   ng-model="newPrices.priceEtu">
                        </label>
                        <label>
                            <input type="checkbox" name="pricePartnerPresaleActive" class="hideNextInput"
                                   ng-model="newPrices.pricePartnerPresaleActive">
                            Prix d'une école partenaire en prévente :
                            <input type="number" name="pricePartnerPresale" class="form-control input-sm" placeholder="00.00"
                                   min="0" max="100" step="0.01"
                                   ng-model="newPrices.pricePartnerPresale">
                        </label>
                        <label>
                            <input type="checkbox" name="pricePartnerActive" class="hideNextInput"
                                   ng-model="newPrices.pricePartnerActive">
                            Prix d'une école partenaire hors prévente :
                            <input type="number" name="pricePartner" class="form-control input-sm" placeholder="00.00"
                                   min="0" max="100" step="0.01"
                                   ng-model="newPrices.pricePartner">
                        </label>
                        <label>
                            <input type="checkbox" name="priceExtPresaleActive" class="hideNextInput"
                                   ng-model="newPrices.priceExtPresaleActive">
                            Prix extérieur en prévente :
                            <input type="number" name="priceExtPresale" class="form-control input-sm" placeholder="00.00"
                                   min="0" max="100" step="0.01"
                                   ng-model="newPrices.priceExtPresale">
                        </label>
                        <label>
                            <input type="checkbox" name="priceExtActive" class="hideNextInput"
                                   ng-model="newPrices.priceExtActive">
                            Prix extérieur hors prévente :
                            <input type="number" name="priceExt" class="form-control input-sm" placeholder="00.00"
                                   min="0" max="100" step="0.01"
                                   ng-model="newPrices.priceExt">
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" ng-click="adminEvent.changePrices($event)">Changer les prix</button>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center">
        <a href="#/">BuckUTT</a>
    </h1>
    <h2 class="text-center">
        <a href="#/admin/">Administration</a> - {{ currentEvent.name }}
    </h2>

    <div class="row main-row">
        <div class="col-sm-5">
            <div class="panel">
                <h3>Inscrits</h3>
                <div class="progress">
                    <div class="progress-bar" style="width: {{ (100 * tickets.length/currentEvent.maximumTickets) }}%;"></div>
                </div>
                <p>Inscrits : {{ tickets.length }} / {{ currentEvent.maximumTickets }}</p>
            </div>
        </div>
        <div class="panel col-sm-5 col-sm-offset-2">
            <h3>Paramètres</h3>
            <h4 class="parameters">
                <a href="#" ng-click="adminEvent.editParameters($event)">Éditer les paramètres</a>
                <a href="#" class="pull-right" ng-click="adminEvent.showChangePrices($event)">Éditer les prix</a>
            </h4>
            <h4 class="delete">
                <a href="#" class="text-danger" ng-click="adminEvent.confirmDeleteEvent($event)">Supprimer l'événement</a>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="panel col-sm-5">
            <h3>Temps avant événement</h3>
            <h2 class="countdown">{{ remainingTime }}</h2>
        </div>
        <div class="panel col-sm-5 col-sm-offset-2">
            <h3>Origine des tickets</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{ (100 * ticketsEtu.length/paidTickets) }}%"></div>
                <div class="progress-bar progress-bar-info" style="width: {{ (100 * ticketsContrib.length/paidTickets) }}%"></div>
                <div class="progress-bar progress-bar-warning" style="width: {{ (100 * ticketsExt.length/paidTickets) }}%"></div>
            </div>
            <p>
                Étudiants non-cotisants: {{ ticketsEtu.length }}<br>
                Étudiants cotisants : {{ ticketsContrib.length }}<br>
                Externes : {{ ticketsExt.length }}<br>
                Payments par cartes : {{ ticketsByCard.length }} / {{ tickets.length }}<br>
                Prix des transactions par carte : {{ bdeCost }}<br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="panel panelSearchUser col-sm-5">
            <h3>Comptes vendeurs</h3>
            <p class="text-muted small">
                <div class="table-responsive">
                    <table class="vendor table table-hover">
                        <thead>
                            <tr>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th class="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <form ng-submit="adminEvent.addVendor($event)">
                                        <input id="searchVendorUser" type="text" class="form-control"
                                               placeholder="Nom du vendeur" ng-model="vendorToAdd">
                                    </form>
                                </td>
                            </tr>
                            <tr ng-repeat="vendor in vendors">
                                <td>{{ vendor[0] }}</td>
                                <td>{{ vendor[1] }}</td>
                                <td class="cross"
                                    data-vendor
                                    data-index="{{ $index }}"
                                    ng-click="adminEvent.removeAccount($event, vendor[2])">&times;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </p>
        </div>
        <div class="panel panelSearchUser col-sm-5 col-sm-offset-2">
            <h3>Comptes admins</h3>
            <p class="text-muted small">
                <div class="table-responsive">
                    <table class="vendor table table-hover">
                        <thead>
                            <tr>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th class="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <form ng-submit="adminEvent.addAdmin($event)">
                                        <input id="searchAdminUser" type="text" class="form-control"
                                               placeholder="Nom de l'administrateur" ng-model="adminToAdd">
                                    </form>
                                </td>
                            </tr>
                            <tr ng-repeat="admin in admins">
                                <td>{{ admin[0] }}</td>
                                <td>{{ admin[1] }}</td>
                                <td class="cross"
                                    data-admin
                                    data-index="$index"
                                    ng-if="!$first"
                                    ng-click="adminEvent.removeAccount($event, admin[2])">&times;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </p>
        </div>
    </div>
</div>
