<link rel="stylesheet" href="static/css/admin.css">
<link rel="stylesheet" href="static/css/adminEvent.css">

<div ng-controller="AdminEvent as adminEvent">

    <div id="modalEdit" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 id="lostTicketsModal" class="modal-title">Édition de l'événement</h4>
                </div>
                <div class="modal-body">
                    <form name="eventForm" class="subPanel">
                        <div>
                            <input type="text" name="name" class="form-control" placeholder="Nom de l'event (taille minimum : 5 caractères)"
                                   ng-maxlength="255"
                                   ng-minlength="5"
                                   ng-model="event.name">
                        </div>
                        <div>
                            <div class="input-group date">
                                <input type="text" name="date" class="form-control" placeholder="Date de l'événement"
                                       ng-model="event.date"
                                       ng-pattern="datePattern">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <textarea name="description" name="description" class="form-control" placeholder="Description"
                                      ng-model="event.description"
                                      ng-required></textarea>
                        </div>
                        <div>
                            <input type="number" name="maximumTickets" class="form-control" placeholder="Nombre maximum de places"
                                   min="0" max="10000"
                                   ng-model="event.maximumTickets"
                                   required>
                        </div>
                        <div>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        Parcourir <input type="file" name="file">
                                    </span>
                                </span>
                                <input type="text" class="form-control" placeholder="Image de l'événement (taille : 128x128)" readonly="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary">Éditer l'événement</button>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center">
        <a href="#/">BuckUTT</a>
    </h1>
    <h2 class="text-center">
        <a href="#/admin/">Administration</a> - {{ event.name }}
    </h2>

    <div class="row main-row">
        <div class="col-sm-5">
            <div class="panel">
                <h3>Inscrits</h3>
                <div class="progress">
                    <div class="progress-bar" style="width: {{ (100 * tickets.length/event.maximumTickets) }}%;"></div>
                </div>
                <p>Inscrits : {{ tickets.length }} / {{ event.maximumTickets }}</p>
            </div>
        </div>
        <div class="panel col-sm-5 col-sm-offset-2">
            <h3>Paramètres</h3>
            <h4 class="parameters">
                <a href="#" ng-click="adminEvent.editParameters($event)">Éditer les paramètres</a>
            </h4>
            <h4 class="delete">
                <a href="#" class="text-danger">Supprimer l'événement</a>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="panel col-sm-5">
            <h3>Temps avant événement</h3>
            <h2 class="countdown">{{ remainingTime }}</h2>
        </div>
        <div class="panel col-sm-5 col-sm-offset-2">
            <h3>Origine des tickets</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{ (100 * ticketsEtu.length/paidTickets) }}%"></div>
                <div class="progress-bar progress-bar-info" style="width: {{ (100 * ticketsContrib.length/paidTickets) }}%"></div>
                <div class="progress-bar progress-bar-warning" style="width: {{ (100 * ticketsExt.length/paidTickets) }}%"></div>
            </div>
            <p>
                Étudiants non-cotisants: {{ ticketsEtu.length }}<br>
                Étudiants cotisants : {{ ticketsContrib.length }}<br>
                Externes : {{ ticketsExt.length }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="panel col-sm-5">
            <h3>Comptes vendeurs</h3>
            <p class="text-muted small">
                <div class="table-responsive">
                    <table class="vendor table table-hover">
                        <thead>
                            <tr>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th class="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>Thomas</td>
                                <td>
                                    Chauchefoin
                                </td>
                                <td>
                                    <span class="fa fa-times"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Thomas</td>
                                <td>
                                    Chauchefoin
                                </td>
                                <td>
                                    <span class="fa fa-times"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Thomas</td>
                                <td>
                                    Chauchefoin
                                </td>
                                <td>
                                    <span class="fa fa-times"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </p>
        </div>
        <div class="panel col-sm-5 col-sm-offset-2">
            <h3>Comptes admins</h3>
            <p class="text-muted small">
                <div class="table-responsive">
                    <table class="vendor table table-hover">
                        <thead>
                            <tr>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th class="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>Thomas</td>
                                <td>
                                    Chauchefoin
                                </td>
                                <td>
                                    <span class="fa fa-times"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Thomas</td>
                                <td>
                                    Chauchefoin
                                </td>
                                <td>
                                    <span class="fa fa-times"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Thomas</td>
                                <td>
                                    Chauchefoin
                                </td>
                                <td>
                                    <span class="fa fa-times"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </p>
        </div>
    </div>
</div>